:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}
.logo-icon{
    height: 150px;
    position: relative;
    bottom: 82px;
}
.logo-text{
    position: relative;
    right: 40px;
}
.logo{
    display: flex;
    position: relative;
    right: 70px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    /* margin: 0 auto; */
    max-width: 1280px;
}
